body {
  	border-top: 13px solid black;
	background: rgba(255,255,255,1);
}

nav.top-bar {
    z-index: 99; box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

@media (max-width:640px) {

    .large-2 {
    	display: none;
    }

}

.wrapper {
    background-color: #000; width: 100%; float: left; margin-top: -25px;
}

.clear {
    width:100%;
    height:0;
    clear:both;
}

.overlaywrap {
    height: 600px;
    max-height: 1000px;
    width: 100%;
    position:relative;
    margin-bottom:20px;
    overflow:hidden;
}

.overlaywrap img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    margin-top:-300px;
}

.overlaywrap div.captionoverlay {
    width:100%;
    padding:20px;
    margin:0 auto;
    z-index: 60;
}

.overlaywrap div.captionwrap {
    position: absolute;
    bottom: 250px;
    width:100%;
    z-index:20;
    /* background:rgba(0,0,0,0.6); */
}

.white {
	background-color:rgba(255,255,255,0.1);
	padding-top: 10px;
} 

.top-bar-section ul {
    background: black;
}

.opener {
    background-image: url('./img/chaser-01.jpg');
    background-position:50% 50%; 
    background-repeat:no-repeat; 
    margin-top:-15px;
    background-size: cover;
    height:100%;
    width:100%;
    margin: 0 auto;
    padding:0 auto;
}

h2.title {
    font-size: 5em;
    text-transform: uppercase;
    color: rgba(215,215,245,0.8);
}

h2.title1 {
    margin: 640px 0 20px 1200px;
}

h2.title2 {
    margin: 0 0 20px 20px;
    opacity:0.2;
}

* {
  	font-family: 'Open Sans', sans-serif;
  	font-weight: 400;
}

h1, h2, h3, h1 *, h2 *, h3 * {
  	font-family: 'Oswald', sans-serif;
  	font-weight: 700;
}

h1 * {
  	text-transform: uppercase;
}

p {
  	color: #333;
}

p.lead {
  	font-size: 2em;
  	line-height: 1.35em;
  	padding: 0px;
  	margin-bottom: 15px;
  	font-weight: 700;
}

a, a *, * a, a:visited, a:visited *, * a:visited {
    color: SteelBlue;
}

a:hover, * a:hover, a:hover * {
    color:IndianRed;
}

p.byline {
    font-style:italic;
    color:white;
    opacity:.9;
    font-weight:normal;
    margin:0;
    font-size:.8em;
}

p.byline span.strong {
    font-size:1em;
}

.small {
  	font-size: .75em;
  	padding-top: 5px;
}

.brightcove {
	height:300px; max-height:550px; padding-bottom:30px;
}

blockquote {
	color:#000;
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight:700;
	padding-bottom: 15px;
}

blockquote:before {
    content: open-quote;
    left:-5px;
}	

blockquote:after {
    content: close-quote;
    right: -5px;
}

blockquote:before, blockquote:after {
    line-height: 0em;
    font-size: 2em;
    position: relative;
    top:15px;
    opacity: .3;
}

.strong {
	font-weight: 700;
	font-size: 1.4em;
}

.star hr {
    border-color:#000;
    border-width: 3px;
    width: 100%;
}

.star hr:nth-child(2) {
    border-color: #555;
}

.star hr:nth-child(3) {
    border-color: #ddd;
}