<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Heroin</title>

  
  <link rel="stylesheet" href="../../css/foundation.css">
  
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="../../js/vendor/custom.modernizr.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Oswald:700' rel='stylesheet' type='text/css'>

</head>
<body>


<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><a href="#">The stormchasers</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a>Switch to:</a></li>
      <li><a href="#">Map view</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Story mode</a></li>
      <li><a href="#">about</a></li>
       </ul>
  </section>
</nav>
 
<!-- End Top Bar -->


	
		<div class="large-12 columns opener">
			<h2 id="title">Heroin in Denver</h2>
		</div>
	
	<div class="row">
		<div class="large-8 columns">
			<p class="lead">Angel strides stiffly toward the trash container that serves as her bedroom.</p>
			<p>Even after 9 p.m., the record-breaking summer heat bounces into her face from the asphalt. She has been walking for miles, morning and evening. Thirteen hours this day at Santa Fe and Mississippi, flying her sign of hopeful lies. "Need help to get a bus ticket to Wisconsin." The sign netted one hundred and three dollars. People give money hoping against their better judgment that Angel will use it well. She is about to prove them wrong.</p></div></div>
	<div class="row">
		<div class="large-5 columns">
			<p>From her pile at the edge of a warehouse loading dock, Angel pulls a filthy bedroll and lays it out. She digs in the carefully managed drug compartment of her ever-present backpack, intent on the ritual. She twists open a scrap of tinfoil to uncover a pea-sized brown lump of heroin.</p><p>The lump drops into an empty tin meant to hold a votive candle. She sprinkles in a couple tablespoons of water, ties a string around her forearm to pop the veins, then begins the meticulous search for an unsullied path between her knuckles. Her movements are quick but sure — she could mix and inject with her eyes closed, but she stares intently at the dissolving dope.</p></div>
		<div class="large-5 columns pull-2 white"><img src="http://extras.mnginteractive.com/live/media/site36/2012/1005/20121005__CD11Ange47445~p1.jpg"><br><p class="small">Angel and Tim shoot up at a place called "the wells" alongside the river in Denver. A popular running and biking trail runs next to the site. More photos and video. (Joe Amon, The Denver Post)</p><hr>
		</div>
		</div>
		

	<div class="row">
		<div class="large-8 columns"><p>All is quiet. The Yuppie softball players under the lights at Lincoln Park have gone home. There's a pause between light rail trains, 30 feet from Angel's trash bin.</p>
		<p>The heroin plunges in, and Angel's eyes close. Now she is back to "normal." Tonight she won't sleep right away. This hit is merely an energy snack.</p>
		<p>Angel Gamboeck's life as a young opiate addict in Denver is sad but increasingly common. As law enforcement officials across the country worry about a new generation of pill poppers moving into cheap heroin, Angel reflects all their fears.</p>
		<p>She is a panhandler whose community of hundreds is ignored once commuters reach home. She is a perpetrator and a victim without the money or willpower to get help, searching for a safe place to score and sleep, headed for destruction.</p>
		<p>During six months in the spring and summer, The Denver Post walked the streets with 23-year-old Angel, documenting a dangerous increase in heroin use.</p>
</div></div>
	<div class="row">
		<div class="large-5 columns white brightcove">

		<!-- Start of Brightcove Player -->

<div style="display:none">

</div>

<!--
By use of this code snippet, I agree to the Brightcove Publisher T and C 
found at https://accounts.brightcove.com/en/terms-and-conditions/. 
-->

<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

<object type="application/x-shockwave-flash" data="http://c.brightcove.com/services/viewer/federated_f9?&amp;width=600&amp;height=335&amp;flashID=myExperience1880980694001&amp;bgcolor=%23FFFFFF&amp;playerID=785156240001&amp;playerKey=AQ~~%2CAAAAADe65VU~%2CG496cZ36A_VFjiTiaQz8PLxJlBRNuww6&amp;isVid=true&amp;isUI=true&amp;dynamicStreaming=true&amp;%40videoPlayer=1880980694001&amp;autoStart=&amp;debuggerID=&amp;startTime=1376673586831" id="myExperience1880980694001" width="600" height="335" class="BrightcoveExperience" seamlesstabbing="undefined"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="seamlessTabbing" value="false"><param name="swliveconnect" value="true"><param name="wmode" value="transparent"><param name="quality" value="high"><param name="bgcolor" value="#FFFFFF"></object>

<!-- 
This script tag will cause the Brightcove Players defined above it to be created as soon
as the line is read by the browser. If you wish to have the player instantiated only after
the rest of the HTML is processed and the page load is complete, remove the line.
-->
<script type="text/javascript">brightcove.createExperiences();</script>

<!-- End of Brightcove Player -->

		<hr>
		</div>
		<div class="large-5 columns pull-2">
		<p>One of the few things that can make Angel cry is thinking of her father, who Angel says has tamped down his own substance problems with a workaholic's demeanor. She remembers a letter her father wrote when she was 17. A friend of the family had taught her to smoke meth, and Angel had been up for a week straight. It was Mother's Day. Her father tried to wake her up for a family party.</p><p>The letter said, 'I'm worried about you, I don't want you to fall into a bigger trap of drugs than we already are.'</p>
</div></div>
	<div class="row">
		<div class="large-8 columns">
		<p>"I always wish I would have listened to him then,"she says. "I guess I wouldn't have ended up here if I just never would have done drugs after that."</p>
		<p>But she didn't listen. And an addict's progression has led her to Denver, living in a trash bin and about to lose even that.</p>
		<p>The owners of the book warehouse have posted signs: all her possessions will be thrown out tomorrow morning. Clean, quiet Angel is not the problem, they say. It's the junkies around her, who defecate on their walls when they are trying to show leasing clients the nice views west.</p>
		<p>Tonight she must move her bedroll off the sheltered loading dock where she has slept most of the last year to a barely concealed grove of weeds a mile south in an abandoned parking lot.</p>
		<p>The lot is on the corner of a government-owned trespasser's haunt, every bedding place ruined by broken glass and crumbling concrete. The squalor is offset by a few good memories, though. Months and many homeless camping spots ago, she slept here with Josiah, her soulmate in love and drugs.</p>
		<p>Joe's not available today. Angel knew he was behind bars but has just learned the length of his sentence for armed robbery in Wisconsin.</p>
		<p>He'll have to write her from prison for the next eight years. She is used to writing him letters that can run eight pages long, on paper torn from a black composition notebook.</p>
		<p>Angel crawls through fences and drops bags of clothes at her new spot, thinking she's finished one task. But a day in the life of an addict can almost always get worse. And it does. Crossing the railroad tracks to return for one more load, she is stopped by three RTD cops.</p>
		<p>Did she know walking across tracks is a federal felony? She will not say. Does she have ID? She says she does not. Will she give her name? For some reason, she gives her real one.</p>
		<p>A radio check shows she has been caught before, riding without a ticket, on top of panhandling and other offenses. They issue her a 30-day ban from riding public transit and so her day ends in walking, the crumpled triplicate copy of the ban skittering behind her on the hot pavement.</p>
		<p>By her own account, Angel has been on drugs more than half her life.</p>
		<p>Weed at 12. Cocaine at 14, the first white line set out for her by her family. When Angel was 15, she said, her mom started smoking crack and shared it with Angel and her sister. Opium-based pain pills appeared the same year. She ingested them in a succession of forms: Swallowing, snorting and finally, shooting up her arm.</p>
		<p>"I was totally against it for a long time," Angel said, of her family's wide and deep descent into any substance they could find. "I just caved into the peer pressure around me."</p>
		<p>As an abuser of deadly prescription narcotics, she joined 12 million Americans and growing who abuse the pills every year. It's "hillbilly heroin," arriving legally through the mail, drugstores and clinics.</p>
		<p>She did all this while graduating near the top of her class in a southern Wisconsin high school, with a 3.7 GPA, scholarship offers and a head for math.</p>
		<p>What worries law enforcement, from Wisconsin to Denver to D.C., is the kind of simple math Angel did a couple of years ago.</p>
		<p>Pain pills may be everywhere, but heroin as an opium delivery vehicle is far cheaper. Addicts discover this when they've finally burned through all the pills their friends give them, or the ones they steal from their parents' medicine cabinets: one Percocet pill on the street costs $80.</p>
		<p>For the same price, in a big city, a shooter can buy four or five doses of potent heroin. Enough to keep an opiate addict in a stupor for days.</p>
		<p>Angel's fiance, in prison scrubs in the visiting room of the Kettle Moraine Correctional Institution in central Wisconsin, starts to cry when he tells of the day Angel first injected heroin.</p>
		<p>She was 21, living with Joe in an apartment near Madison, and doing janitorial work at a local John Deere plant that fit with her solitary nature. A friend of Joe's asked him for a heroin connection, and Joe asked his pill sources. When the heroin arrived, Joe, already addicted to pills after a cement accident burned his skin, joined in.</p>
		<p>Angel is 10 years younger than Joe. To her family's lament, she did what Joe did. She's been using the needle for all forms of her drugs ever since.</p>
		<p>Both of Angel's parents have fought their own addictions. They saw the same streak in Joe, and hounded Angel to break it off.</p>
		<p>Angel and Joe struck out West to get clean at an uncle's house in Wyoming. For them, clean meant using only Vicodin and Percocet, but they did manage 15 days without heroin.</p>
		<p>They snuck to buy meth in Cheyenne, and the uncle kicked them out.</p>
		<p>Without the money for tickets all the way to Wisconsin, the two ended up at a bus station in Denver.</p>
		<p>The first person they met was a homeless junkie who hooked them up with some heroin, and Angel's spring of 2011 was a blur of scoring, sleeping outside, and sweet, doped-up reveries by the Platte River with Joe.</p>
		<p>Angel and Joe did get back to Wisconsin together once, in the summer of 2011. Joe tells it this way, the kind of street-luck tale that is fantastic even if only half true. Angel got up from their Platte River squatter's tent on his birthday, and came back to wake Joe up. She'd found an abandoned bike, and in the saddlebags was $9,500 in cash. She used much of it to buy him a Cadillac.</p>
		<p>They bought a seemingly bottomless bag of dope and drove carefree across country, eating better and partying more than they had in a long time. They arrived in their home state with no cash left at all. They knew they and their bad habit were not wanted.</p>
		<p>Joe was too embarrassed to ask his family for help. So he robbed a convenience store in a tiny town called Beaver Dam. The one-minute, life-altering event was recorded on store cameras.</p>
		<p>Joe and Angel fled back to Denver's easier streets, but Joe said he "knew what time it was," and that he'd get caught. He'd dropped a sweatshirt while fleeing the robbery. When he was picked up on a drug offense back in Denver months later, they matched his DNA, and Wisconsin extradited him on a warrant.</p>
		<p>That was in January. Since then, Angel's most frequent male company is a troubled addict named Tim, who sometimes offers a motel room bought with his disability check. But the room comes with Tim's temper and demands for drugs.</p>
		<p>When she stays at her loading dock shelter, Angel unpacks and repacks plastic shopping bags filled with dirty snow pants, worn ski caps, half-empty bottles of lotion, food wrappers.</p>
		<p>Angel's hands are gritty with street dust. Her feet are constantly peeling with eczema and blisters — one misstep into a puddle keeps her skin wet and rotting all day. She cleans up occasionally with a bath of wet wipes, or washes her hair in the sink at the needle exchange.</p>
		<p>The panhandlers keep a plastic tray stack at their Santa Fe and Mississippi corner, the kind you'd buy a college kid to organize a dorm. In it are used bottles of sunscreen, napkins, a baseball cap. The napkins help when unexpected things fly through a passing car's window. Angel had an ongoing feud with a female commuter who resented her presence. She drove by every week and told Angel to get a job. Once, the woman called Angel over to her window, then tried to pour a soda on her.</p>
		<p>It's just a fact of life for a panhandler who depends on the charity of passing motorists. Angel divides her life into $15 increments.</p>
		<p>Twelve hours of flying a sign is usually close to $90 for Angel; $90 is four doses, dinner and maybe laundry tokens. Skip dinner and buy a "wakeup' dose for the morning, and the day begins again. Fifteen dollars again by noon. Thousands of dollars in a month, all handed through a car window.</p>
		<p>I know, if I go out there every day, I can get what I need," she said. She comes as close as she ever does to bragging. Someone else who lost their job, she says, "you wouldn't know if you could pay your bills, or whatever."</p>
		<p>On the days Angel is still too short to buy a dose by nightfall, she lurks between the door and the pumps of a Circle K on Colfax, confronting people directly for change. Maybe nothing seems worse than sucking exhaust in silence for 12 hours on a hot highway median. Yet this is a step down, hassling strangers, the store manager furious, her body calling louder and louder for the next hit.</p>
		<p>"When I get sick, the first thing I notice is my teeth start to hurt, cause I got two bad teeth, and then I get really bad hot flashes, and my stomach is what hurts the worst," Angel said.</p>
		<p>Her habit costs her at least $20,000 a year.</p>
		<p>Angel's father has a standing offer to wire her a bus ticket home. The $200 is not the issue. She can raise that in two days. Saving $200 is the issue. That, and a looming chasm of utter embarrassment.</p>
		<p>And then there's the fear of boredom, almost as strong as the fear of skin-clawing withdrawal. It is a joke and still the truth: 12 hours a day of begging does get you out of the house.</p>
		<p>"I've always searched for drugs and done drugs and partied," Angel said. "How am I going to spend my time afterwards?"</p>
		<p>She had bigger issues to worry about.</p>
		<p>In late spring when the city's needle exchange program provided free hepatitis C tests, her preliminary results were positive.</p>
		<p>Three out of four injection drug users get the liver-wasting disease, through shared needles and equipment stained by blood. Angel would usually take care of the worry by shooting up again. But on the day she found out, she had paid her dealer for what turned out to be an empty piece of crumpled foil.</p>
		<p>She lay on the concrete dock at 10 p.m., with no last call and no wake up. Another junkie had stolen the bike she had stashed near the trash bin to spell her ceaseless walking. Without a bedtime dose there was nothing to obliterate the future.</p>
		<p>As the rain fell and Angel sat on her soiled sleeping bag, a tear leaked from the corner of one eye. She asked out loud, "Does hepatitis C mean you can't have kids? Does it mean you shouldn't have kids?"</p>
		<p>Seventeen months since finding easy heroin at the Denver bus station, the morning sun brings only the promise of another 12-hour grind.</p>
		<p>"I'm so sick of doing this. But it's the heroin that just keeps me here," Angel said.</p>
		<p>"I get asked a lot why I'm out here. There's no real explanation for it. I think if I left here, there's a lot of hope. So I need to leave. But I don't know why I haven't yet."</p>
				</div>
			</div>
			


<br>
<div class="small-12" style="background: black; color: white;"  style="padding-bottom: 10px; text-align: right;">
  		<br><hr style="border-color: white;">
  	<br> &copy; <a href="#">The Denver Post</a>, 2013.<br></div>
</div>

  <script src='../../js/vendor/jquery.js'></script>
  
  <script src="../../js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
